{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/auth.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="auth-container">
        <div class="auth-box">
            <h1>Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                    'label': 'Password',
                    'attr': {'class': 'form-control', 'placeholder': 'Password'}
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.roles, {
                    'label': 'Role',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>
            <div class="form-group form-check">
                {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                <label class="form-check-label" for="registrationForm_agreeTerms">
                    I agree to the terms
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
