{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reservation.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Reservations</h1>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Reservation Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.statut }}</td>
                    <td>{{ reservation.dateRes ? reservation.dateRes|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Show</a>
                        <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Edit</a>
                        <form action="{{ path('app_reservation_delete', {'id': reservation.id}) }}" method="post" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_reservation_get_new') }}" class="btn btn-primary">Create new reservation</a>
    </div>
{% endblock %}
