{% extends 'base.html.twig' %}

{% block title %}Détails de l'Avis{% endblock %}

{% block body %}
    <h1>Détails de l'Avis</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ avi.id }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ avi.contenu }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ avi.date ? avi.date|date('Y-m-d') : 'Non spécifiée' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <a href="{{ path('app_avis_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_avis_edit', {'id': avi.id}) }}" class="btn btn-primary">Modifier</a>
        <form method="post" action="{{ path('app_avis_delete', { id: avi.id }) }}" class="d-inline-block" onsubmit="return confirm('Êtes-vous sûr ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avi.id) }}">
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
{% endblock %}
