{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Réservations</h1>
    <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary">Retour au Dashboard</a>
    <table border="1">
        <thead>
        <tr>
            <th>ID Réservation</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Utilisateur</th>
            <th>Adresse Immobilier</th>
            <th>Ville</th>
            <th>Prix Immobilier</th>
            <th>Statut</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dateDebut|date('d/m/Y') }}</td>
                <td>{{ reservation.dateFin|date('d/m/Y') }}</td>
                <td>{{ reservation.user.email }}</td>
                <td>{{ reservation.immobilier.adresse }}</td>
                <td>{{ reservation.immobilier.ville }}</td>
                <td>{{ reservation.immobilier.prix }} €</td>
                <td>{{ reservation.statut }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
