{% extends 'base.html.twig' %}

{% block title %}Immobilier index{% endblock %}

{% block body %}
    <h1>Immobilier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Region</th>
                <th>Nbr_chambres</th>
                <th>Statut</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for immobilier in immobiliers %}
            <tr>
                <td>{{ immobilier.id }}</td>
                <td>{{ immobilier.prix }}</td>
                <td>{{ immobilier.description }}</td>
                <td>{{ immobilier.adresse }}</td>
                <td>{{ immobilier.ville }}</td>
                <td>{{ immobilier.region }}</td>
                <td>{{ immobilier.nbrChambres }}</td>
                <td>{{ immobilier.statut }}</td>
                <td><img src="{{ asset('images/' ~ immobilier.image) }}" alt="Image de l'immobilier" style="max-width: 100px; max-height: 100px;"></td>
                <td>
                    <a href="{{ path('app_immobilier_show', {'id': immobilier.id}) }}">show</a>
                    <a href="{{ path('app_immobilier_edit', {'id': immobilier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_immobilierGet_new') }}">Create new</a>
{% endblock %}
